@import '../../styles/utils/variables';

ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 45%; /* Keep ratio for 900x500 images */
}
ngb-carousel .wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.carousel-caption {
  color: white;
  h3 {
    font-family: $font-title-carousel;
    font-size: 3.0rem;
  }
  p {
    font-family: $font-subtitle-carousel;
    font-size: 2rem;
  }
}

.col {
  background-color: white;
  padding: 0.5%;
}

// .container.fluid{
//   padding-left: 1.5%;
//   padding-right: 1.5%;
// }
