$color-card-background: rgb(0, 0, 0);
$color-menu-text: black;
$color-menu-card-background: white;
$color-menu-card-header: #ffb26b;
$color-menu-li: #fff8dc;
$color-dashboard-dot: #eee;
$color-dashboard-col: white;
$color-carousel-item-caption: white;
$color-restaurant-list-col: rgb(0, 0, 0);
$color-restaurant-details: #ff7b54;
$color-app-background: #ffcd19;


