<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
  <div class="container">
    <div class="login">
      <div class="image-container">
        <img class="logo" src="../../assets/images/login/logo.png" alt="no logo">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-key"></i></span>
        <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <button type="button" class="btn btn-primary login-action">Login</button>
      </div>
      <div class="input-group mb-3">
        <a href="" class="login-action login-action-link">Have already an account? Sign in!</a>
      </div>
    </div>
  </div>
</html>

