@import '../../styles/utils/variables';
.card-body {
  .card-title {
    font-family: $font-title-carousel-card;
  }
  .card-text {
    font-family: $font-card-subtitle;
    font-weight: bold;
  }
}

.col {
  background-color: white;
  padding: 0.5%;
}