<div class="details-container">
  <img class="card-img-top restaurant-image" *ngIf="restaurant" [src]="restaurant.imagePath" alt="">
  <div class="container fluid">
    <div class="row">
      <div
        *ngFor="let menu of menus"
      >
      <div class="row">
        <div class="col col-sm" *ngFor="let dish of menu.dishes">
          <div class="card">
            <img class="card-img-top" [src]="dish.imagePath" alt="Card image cap">
            <div class="card-body">
              <h5 contentEditable class="card-title">{{menu.name}} : {{ dish.name }}</h5>
              <form class="testform" action="/">
                <input contentEditable class="card-text update-element update-field" value="{{menu.name}}">
                <input contentEditable class="card-text update-element update-field" value="{{ dish.name }}">
                <input contentEditable class="card-text update-element update-field" value="{{ dish.price | currency:'USD':'symbol'}}">
                <div class="update-button-container">
                  <button type="button" class="btn btn-dark" type="submit">Update</button>
                </div>
              </form>
              <p class="card-text-update"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <!-- <button type="button" class="btn btn-dark" type="submit">Update</button> -->
      </div>
    </div>
  </div>
</div>

<!-- <form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
  <label for="email">Email</label>
  <input type="text" name="email" id="email" ngModel>

  <label for="password">Password</label>
  <input type="password" name="password" id="password" ngModel>

  <button type="submit">Sign Up</button>
</form> -->
